.clearbtn {
  position: absolute;
  right: 20px;
  top: 15px;
}

@media screen and (min-width: 760px) {
  .clearbtn {
    top: 12px;
  }
}

.home {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.theme {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.logo {
  margin-top: 25vh;
  font-size: clamp(30px, 3vw, 50px);
  font-weight: bold;
  width: 100%;
  display: grid;
  place-items: center;
}

.form {
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.input {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.clear {
  position: relative;
  right: 50px;
  font-size: 20px;
}

.search {
  width: max-content;
  border: 1px solid;
  padding: 5px 20px;
  border-radius: 3px;
}

.skeleton {
  padding-top: 5vh;
  display: grid;
  gap: 10px;
}
